.form {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    border-bottom: 10px solid rgb(224, 220, 220);
    padding: 20px;
}

.form__input {
    border: 2px solid rgb(221, 220, 220);
    padding: 10px;
    flex-basis: 75%;
}

.form__button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px;
    flex-basis: 15%;
}

@media (max-width: 375px) {
    .form__input {
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    .form__button {
        flex-basis: 100%;
    }
}