html {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}

.list_checkButton {
    background-color: teal;
    color: teal;
}
.list__checkButton--true {
    background-color: teal;
    font-size: medium;
    color: white;

}
.list__removeButton {
    background-color: teal;
    color: white;
}

.list__tasks {
    list-style: none;
    padding: 0px;
}

.list__item--done {
    text-decoration: line-through;
}