html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    background-color: rgb(224, 223, 223);
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
}

.container {
    border: 2px solid rgb(224, 220, 220);
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}