.title {
    font-size: 40px;
}

.headings {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 3px solid rgb(218, 213, 213);
    margin: 0;
    align-items: stretch;
}

.section__header {
    display: flex;
    margin: 0;
    font-size: 25px;
    flex-grow: 2;
    align-items: center;
}

.list__buttons {
    display: flex;
    flex-wrap: wrap;
}

.js-tasks-buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}

.section__task {
    padding: 10px;
}

@media (max-width: 900px) {
    .list__buttons {
        flex-direction: column;
    }
}